/* 
* Author: Kevin Ly 2013 
* Built atop Foundation 4
*/

/* colours used 
* header: #2f353e
* links: #2ba6cb
* #E87F0C
*
*/

/* header */

#header {
    background: #2f353e;
}

/* general */

.container {
    border-top: 0;
    background-color: #ffffff;
    background-repeat: no-repeat;
    border-radius: 10px;
    /*box-shadow: 0 0 20px #3b3c42;*/
}

body {
    background: #eeeeee;
    font-family: 'Muli', sans-serif;
    color: #333333;
}
/* typography */

h4 {
    font-family: 'Oxygen', sans-serif;
    margin-bottom: 20px;
    color: #777777
}

#header h1 {
    font-size: 5em;
    font-family: 'Oxygen', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    letter-spacing: 15px;
    color: #ffffff;
    text-shadow: 0 0 5px #3b3c42;
}
#header p {
    font-family: 'Oxygen', 'Helvetica Neue', sans-serif;
    font-weight: 700;
}
#header .tagline {
    color: #ffffff;
}

#header .profile {
}

#header .profile-pic {
    display: block;
    margin: 50px auto 0;
}
#header h1 {
    margin-top: 60px;
    text-align: center;
}

/* ANIMATION */
.main-content.ng-enter {
  -webkit-transition:all linear 0.25s;
  transition:all linear 0.25s;
}
.main-content.ng-leave {
  -webkit-transition:all linear 0s;
  transition:all linear 0s;

}

.main-content.ng-enter{
   opacity: 0;
}
.main-content.ng-enter-active{
   opacity:1;
}

.main-content.ng-leave{
   opacity:1;
}
.main-content.ng-leave-active{
   opacity:0;
}

.experience h5 {
    position: relative;
    margin-bottom: 1em;
    font-weight: 700;
    font-family: 'Oxygen', 'Helvetica Neue', sans-serif;
    padding-bottom: 8px;
    border-bottom: 2px solid #e7e7e7;
}
.timestamp {
    position: absolute;
    right: 0;
    font-size: 0.8em;
    top: 0.4em;
    color: #777777
}

/* skills */

.skills ul, .experience ul {
    list-style-type: none;
}

.skills li{
    margin-bottom: 20px;
    color: #2ba6cb;
}

/* experience */

.experience ul li ul {
    margin-left: 0;
}

.experience li {
    margin-bottom: 1em;
}

.experience ul {
    margin-bottom: 40px;
}
/* BANNER */
.banner-wrapper {
    width: 100%;
    background: #2f353e;
}

/* MENU */
.menu {
    margin-bottom: 0;
    list-style: none;
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
.menu-container {
    padding: 20px 10px;
    margin-bottom: 20px !important;
    background: #2f353e;
}

/* PROJECTS */
.screenshot {
    box-shadow: 0px 0px 10px #000000;
}
/* ABOUT */
.landing-banner {
    border-radius: 20px;
    margin-bottom: 30px;
}
.about h1 {
    font-size: 2.5em;
    margin-top: 2em;
    margin-bottom: 2.5em;
    text-align: center;
}