<div class="about">
	<h1>Hi! My name is Kevin, and I like to build websites.</h1>

	<div class="row">
		<div class="large-3 columns skills">
			<h4>Skills</h4>
	            <ul>
	                <li>HTML</li>
	                <li>CSS</li>
	                <li>Javascript / jQuery</li>
	                <li>PHP</li>
	                <li>Python</li>
	                <li>C</li>
	                <li>C#</li>
	                <li>Java</li>
	            </ul>
		</div>
		<div class="large-9 columns">
			<h4>Who am I?</h4>
			<p class="main-caption">
				Kevin is a recent graduate of the University of Melbourne in Software Systems, and is looking for his first full time graduate position! 
			</p>
			<p>
				Kevin has experience in full stack web development, from backend SQL queries to front-end HTML/CSS/Javascript.
			</p>
		</div>
	</div>
</div>