<div class="about">
	<h1>Hi! My name is Kevin, and I like to build websites.</h1>

	<div class="row">
		<div class="large-3 columns skills">
			<h4>Skills</h4>
				<h5>Front End</h3>
	            <ul>
	                <li>HTML</li>
	                <li>CSS</li>
	                <li>Javascript / jQuery</li>
	            </ul>
	            <h5>Back End</h3>
	            <ul>
	                <li>C# ASP.NET</li>
	                <li>Objective C</li>
	                <li>C</li>
	                <li>PHP</li>
	                <li>Python</li>
	                <li>Java</li>
	            </ul>
		</div>
		<div class="large-9 columns">
			<h4>Who am I?</h4>
			<p class="main-caption">
				Kevin is a web developer at the start of his career, and hopes to rapidly expand his skillset in developing for the web and for mobile devices.
			</p>
		</div>
	</div>
</div>