<div class="experience">
<h4>Work Experience</h4>
<h5>ESUPERFUND - Developer<span class="timestamp">2014 January to Present</span></h5>
    <ul>
        <li>Implemented website designs and email templates</li>
    </ul>
<h5>Three V Group - Developer<span class="timestamp">2013 October to 2013 December</span></h5>
    <ul>
        <li>Participated in the launch of an e-commerce startup</li>
        <li>Worked with OpenCart to prepare an e-commerce site for launch</li>
        <li>Improved work processes at the company by moving development from live to local, and implementing version control</li>
        <li>Developed skills in PHP, MySQL, HTML, CSS and Javascript/jQuery</li>
    </ul>
<h5>Self Employed - VCE Japanese Tutor<span class="timestamp">2009 December to 2013 November</span></h5>
    <ul>
        <li>Assisted and mentored high school students with their Japanese studies</li>
        <li>Effectively utilised online marketing to find students</li>
    </ul>
</div>

