<div class="experience">
	<h4>Projects</h4>

	<h5>This Site<span class="timestamp">2013 - Present</span></h5>
	<h6>Goals</h6>
	<ul>
		<li>To develop a site to showcase my projects, as well as serve as a playground for web technologies. Much more functionality to come! </li>
	</ul>
	<h6>Technologies Used</h6>
    <ul>
    	<li>AngularJS - Javascript</li>
    	<li>HTML</li>
    	<li>CSS</li>
    </ul>

	<h5>EatApp<span class="timestamp">2013</span></h5>
	<div class="row">
	<div class="large-6 columns">
		<img class="screenshot" src="img/screenshots/eatapp.png" alt="EatApp">
	</div>
	<div class="large-6 columns">
	<h6>Goals</h6>
	<ul>
		<li>To develop a web application that enables University of Melbourne students to quickly and easily find a place to eat during their lunch break</li>
	</ul>
	<h6>Functionality</h6>
	<ul>
		<li>Search for popular restaurants</li>
		<li>Add restaurant reviews and photos</li>
		<li>Find a restaurant based on distance via the Google Maps API</li>
	</ul>
	<h6>Technologies Used</h6>
	<ul>
		<li>Django - Python</li>
		<li>HTML</li>
		<li>CSS</li>
		<li>jQuery - Javascript</li>
		<li>Google Maps API</li>
	</ul>
	</div>
		
	</div>

	<h5>Choose to be Calm<span class="timestamp">2012</span></h5>
	<div class="row">
	<div class="large-6 columns">
		<img class="screenshot" src="img/screenshots/choosetobecalm.png" alt="EatApp">
	</div>
	<div class="large-6 columns">
	<h6>Goals</h6>
	<ul>
		<li>The previous version of the website was largely hardcoded, making it very difficult for the site owner to update content. The purpose of this rebuild was to implement a custom CMS system, to enable the client to quickly and easily update website content</li>
	</ul>
	<h6>Functionality</h6>
	<ul>
		<li>Quickly and easily update website content</li>
	</ul>
	<h6>Technologies Used</h6>
	<ul>
		<li>Yii Framework - PHP</li>
		<li>HTML</li>
		<li>CSS</li>
		<li>jQuery - Javascript</li>
	</ul>
	</div>
		
	</div>
</div>
